STRINGTABLE
{
//Deutsch
100, "Datei"
101, "Importieren"
102, "Einträge exportieren"
103, "Eingaben exportieren"
104, "Bearbeiten"
105, "Einträge anzeigen"
106, "Einträge löschen"
107, "Eingaben löschen"
108, "Logo löschen"
109, "Ansicht"
110, "Sprache wählen"
111, "Nach Update suchen"
112, "Zertifikat herunterladen"
113, "Über..."
114, "Logo Pfad:"
115, "Hersteller:"
116, "Telefonnummer:"
117, "Uhrzeit:"
118, "Modell:"
119, "Internetadresse:"
120, "Übernehmen"
121, "Anzeigen"
122, "Datei importieren"
123, "Datei exportieren"
124, "Logo auswählen"
125, "datei"
126, "INI Datei *.ini|*.ini|REG Datei *.reg|*.reg"
127, "INI Datei *.ini|*.ini"
128, "Bitmap Picture *.bmp|*.bmp"
129, " existiert bereits"
130, "Wollen Sie sie ersetzen?"
131, "Das Bild hat ist größer als 400x500 Pixel ("
132, "Bitte wählen Sie ein anderes aus!"
133, "Wollen Sie die Einträge wirklich übernehmen?"
134, "Wollen Sie die Einträge wirklich entfernen?"
135, "Wollen Sie die zu löschenden Einträge in einer Datei speichern?"
136, "Soll das Logo wirklich gelöscht werden?"
137, "Einträge wurden erfolgreich gelöscht!"
138, "Einträge wurden erfolgreich übernommen!"
139, "Information"
140, "Warnung"
141, "Frage"
142, "Fehler"
143, "Bestätigung"
144, "Löschen"
145, "Löschen des Bildes"
146, "Lesen der Einträge"
147, "Schreiben in die Datei: "
148, " nicht möglich!"
149, "Grund: "
150, "Quelle nicht gefunden!"
151, "Zugriff verweigert"
152, "Unbekannt"
153, "Es wurde nichts eingegeben!"
154, "Kein Update verfügbar!"
155, "SIT Update verfügbar!"
156, "Möchten Sie es jetzt herunterladen?"
157, "SIT Update"
158, "Update herunterladen"
159, "Bitte Ordner wählen"
160, "Abbrechen"
161, "Abgebrochen!"
162, "Fertig!"
163, "Wollen Sie den Download wirklich beenden?"
164, "Fehler! SIT ist nicht kompatibel zu Ihrer Windows Version! Sie haben Windows "
165, ". Zum Ausführen von SIT wird mindestens Windows 2000 benötigt!"
166, "Hilfe"
167, "Über SIT"
168, "Keine Verbindung zum Update-Server!"
169, "Bitte prüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
170, "Fehler melden"
171, "Fehler beim Kopieren!"
172, "Fehler! Logo existiert nicht oder der Pfad ist ungültig!"
173, "Logo erfolgreich nach \""
174, "\" kopiert!"
175, "Logo kopieren"
176, "Logo"
177, "Ungültige Dateiendung!"


//Englisch
200, "File"
201, "Import"
202, "Export Entries"
203, "Export Input Data"
204, "Edit"
205, "Show Entries"
206, "Delete Entries"
207, "Delete Input"
208, "Delete Icon"
209, "View"
210, "Choose Language"
211, "Search for Update"
212, "Download Certificate"
213, "About..."
214, "Icon Path:"
215, "Manufacturer:"
216, "Phone:"
217, "Hours:"
218, "Model:"
219, "URL:"
220, "Accept"
221, "Show"
222, "Import File"
223, "Export File"
224, "Choose Icon"
225, "file.ini"
226, "INI File *.ini|*.ini|REG File *.reg|*.reg"
227, "INI File *.ini|*.ini"
228, "Bitmap Picture *.bmp|*.bmp"
229, " already exists!"
230, "Do you want to replace it?"
231, "The icon is larger than 400x500 Pixels ("
232, "Please choose an other one!"
233, "Do you really want to write those entries?"
234, "Do you really want to delete those entries?"
235, "Do you want to save the entries to be deleted in a file?"
236, "Should the icon really be deleted?" 
237, "The entries have been deleted successfully!"
238, "Entries have been written successfully!"
239, "Information"
240, "Warning"
241, "Question"
242, "Error"
243, "Confirmation"
244, "Deleting"
245, "Error while deleting the icon"
246, "Error while reading the entries"
247, "Error while writing into file: "
248, "!"
249, "Reason: "
250, "Source not found!"
251, "Access denied!"
252, "Unknown!"
253, "No data input!"
254, "No Update available!"
255, "SIT Update available!"
256, "Do you want to download it now?"
257, "SIT Update"
258, "Download Update"
259, "Please select a folder"
260, "Abort"
261, "Canceled!"
262, "Done!"
263, "Do you really want to cancel the download?"
264, "Error! SIT is not compatible with your version of Windows! You got "
265, ". Windows 2000 or later is required to run SIT!"
266, "Help"
267, "About SIT"
268, "No connection to update-server!"
269, "Please check your internet connectivity and try again."
270, "Report a bug"
271, "Error while copying file!"
272, "Error! Icon does not exist or invalid path!"
273, "Icon successfully copied to \""
274, "\"!"
275, "Copy icon"
276, "Icon"
277, "File extension invalid!"

//Französisch
300, "Fichier"
301, "Importer"
302, "Exporter les entrées"
303, "Exporter les contributions"
304, "Modifier"
305, "Afficher les entrées"
306, "Supprimer les entrées"
307, "Supprimer les contributions"
308, "Supprimer logo"
309, "Affichage"
310, "Choisir langue"
311, "Chercher mettre à jour"
312, "Télécharger le Certificat"
313, "À propos de..."
314, "Chemin du logo:"
315, "Fabricant:"
316, "Numéro de téléphone:"
317, "Heure du jour:"
318, "Modèle:"
319, "Adresse Internet:"
320, "Accepter"
321, "Montrer"
322, "Importer un fichier"
323, "Exporter un fichier"
324, "Sélectionner un logo"
325, "fichier.ini"
326, "Fichier INI *.ini|*.ini|Fichier enregistrement *.reg|*.reg"
327, "Fichier INI *.ini|*.ini"
328, "Image bitmap *.bmp|*.bmp"
329, " existe déjà!"
330, "Voulez-vous la remplacer?"
331, "L'image est plus grande que 400x500 pixels ("
332, "S'il vous plaît choisir un autre!"
333, "Avez-vous vraiment envie d'écrire ces entrées?"
334, "Voulez-vous vraiment supprimer ces entrées?"
335, "Voulez-vous enregistrer les entrées à supprimer dans un fichier?"
336, "Si le logo vraiment être supprimé?"
337, "Les entrées ont été supprimées avec succès!"
338, "Les entrées ont été écrites avec succès!"
339, "Informations"
340, "Avertissement"
341, "Question"
342, "Erreur"
343, "Confirmation"
344, "Supprimer"
345, "Erreur lors de la suppression de l'image"
346, "Erreur lors de la lecture des entrées"
347, "Erreur lors de l'écriture dans le fichier: "
348, "!"
349, "Raison: "
350, "Source introuvable!"
351, "Accès refusé!"
352, "Inconnu!"
353, "Rien n'a été entré!"
354, "Il n'ya pas de mise à jour disponible!"
355, "SIT mise à jour disponible!"
356, "Voulez-vous le télécharger maintenant?"
357, "SIT mise à jour"
358, "Télécharger la MAJ"
359, "S'il vous plaît sélectionnez un dossier:"
360, "Abandonner"
361, "Annulé"
362, "Prêt!"
363, "Voulez-vous finir de le télécharger?"
364, "Erreur! SIT n'est pas compatible avec votre version de Windows! Vous avez "
365, ". Windows 2000 ou ultérieur est requis pour exécuter SIT!"
366, "Aide"
367, "À propos de SIT"
368, "Impossible de se connecter au serveur de mise à jour!"
369, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
370, "Signaler une erreur"
371, "Impossible de copier!"
372, "Erreur! Logo n'existe pas ou le chemin n'est pas valide!"
373, "Logo copié avec succès dans \""
374, "\"!"
375, "Logo copie"
376, "L'image"
377, "Extension de fichier invalide!"
}
