STRINGTABLE // deutsch
BEGIN
  100, "1031"
  101, "Warnung"
  102, "Fehler"
  103, "Frage"
  104, "Information"
  105, "Update"
  106, "abbrechen"
  107, "Abgebrochen!"
  108, "Fertig!"
  109, "Bitte Download-Ordner wählen"
  110, "Ansicht"
  111, "Wollen Sie das Update jetzt installieren?"
  112, "Keine Verbindung zum Update-Server!"
  113, "Bitte überprüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
  114, "Hilfe"
  115, "Nach Update suchen"
  116, "Zertifikat installieren"
  117, "Über %s"
  118, " nicht möglich!"
  119, ""
  120, ""
  121, "Update (Build %d) verfügbar!"
  122, "Möchten Sie es jetzt herunterladen?"
  123, "Kein Update verfügbar!"
  124, "Update herunterladen"
  125, "Sprache wählen"
  126, "Fehler melden"
  127, "Das Zertifikat von PM Code Works ist bereits installiert!"
  128, "Das Programm \"certutil.exe\" konnte nicht gefunden werden."
  129, "Zur Website"
  130, "Download wurde abgebrochen!"
  131, "Schwerwiegender Fehler"
  132, "Technische Details"
  133, "Datei"
  134, "Seit kurzem wird %s als 64-Bit Version zum Download angeboten, wodurch "
  135, "Ihr System Ressourcen optimaler nutzen kann. Wollen Sie diese herunterladen?"
  136, "Registry Datei *.reg|*.reg"
  137, "Sicheres Update"
  138, "Seit kurzem werden sichere Updates über eine verschlüsselte Verbindung "
  139, "zum Update-Server angeboten. Dazu wird ein neues Zertifikat benötigt."
  140, "Wollen Sie dieses installieren, um sichere Updates zu empfangen?"
  141, ""
  142, "Importieren"
  143, "Einträge exportieren"
  144, "Eingaben exportieren"
  145, "Bearbeiten"
  146, "Einträge anzeigen"
  147, "Einträge löschen"
  148, "Eingaben löschen"
  149, "Logo löschen"
  150, "Logo kopieren"
  151, "Logo"
  152, "Informationen"
  153, "Logo Pfad:"
  154, "Hersteller:"
  155, "Telefonnummer:"
  156, "Uhrzeit:"
  157, "Modell:"
  158, "Internetadresse:"
  159, "Übernehmen"
  160, "Anzeigen"
  161, "Datei importieren"
  162, "Datei exportieren"
  163, "Logo auswählen"
  164, "OEM"
  165, "INI Datei *.ini|*.ini|Registry Datei *.reg|*.reg"
  166, "INI Datei *.ini|*.ini"
  167, ""
  168, "Das Logo ist nicht quadratisch (%dx%d)! "
  169, "Windows wird es passend skalieren."
  170, "Wollen Sie die Einträge wirklich speichern?"
  171, "Wollen Sie die Einträge wirklich entfernen?"
  172, "Wollen Sie die zu löschenden Einträge in einer Datei speichern?"
  173, "Wollen Sie das Logo \"%s\" wirklich löschen?"
  174, "Einträge wurden erfolgreich gelöscht!"
  175, "Einträge wurden erfolgreich gespeichert!"
  176, "Fehler beim Löschen der Einträge!"
  177, "Fehler beim Löschen des Bildes!"
  178, "Fehler beim Lesen der Einträge!"
  179, "Fehler beim Schreiben in die Datei \"%s\"!"
  180, "Fehler beim Kopieren!"
  181, "Fehler beim Speichern der Einträge!"
  182, "Fehler beim Importieren!"
  183, "Es wurde nichts eingegeben!"
  184, "SIT ist nicht kompatibel zu ihrer Windows-Version (%s). "
  185, "Sie benötigen mindestens Windows 2000!"
  186, "Logo existiert nicht oder der Pfad ist ungültig!"
  187, "Logo erfolgreich nach \"%s\" kopiert!"
  188, "Ungültige Dateiendung!"
  189, "URL im Webbrowser öffnen?"
  190, "Ungültige URL!"
END

STRINGTABLE // english
BEGIN
  200, "1033"
  201, "Warning"
  202, "Error"
  203, "Question"
  204, "Information"
  205, "Update"
  206, "abort"
  207, "Canceled!"
  208, "Done!"
  209, "Please select download folder"
  210, "View"
  211, "Do you want to install the update now?"
  212, "Unable to connect to the update server!"
  213, "Please check your internet connection and try again."
  214, "Help"
  215, "Search for Update"
  216, "Install certificate"
  217, "About %s"
  218, " impossible!"
  219, ""
  220, ""
  221, "Update (Build %d) available!"
  222, "Do you want to download it now?"
  223, "No update available!"
  224, "Download the update"
  225, "Choose Language"
  226, "Report a bug"
  227, "The certificate of PM Code Works is already installed!"
  228, "The \"certutil.exe\" program could not be found."
  229, "Go to website"
  230, "Download has been canceled!"
  231, "Fatal error"
  232, "Technical details"
  233, "File"
  234, "Recently %s is offered as a 64-bit version to download allowing your "
  235, "system to use resources optimally. Do you want to download this?"
  236, "Registy file *.reg|*.reg"
  237, "Secure update"
  238, "Recently, secure updates are provided via an encrypted connection to the "
  239, "update server. For this purpose, a new certificate is required."
  240, "Do you want to install this to receive secure updates?"
  241, ""
  242, "Import"
  243, "Export entries"
  244, "Export data input"
  245, "Edit"
  246, "Show entries"
  247, "Delete entries"
  248, "Delete input"
  249, "Delete icon"
  250, "Copy icon"
  251, "Icon"
  252, "Information"
  253, "Icon Path:"
  254, "Manufacturer:"
  255, "Phone:"
  256, "Hours:"
  257, "Model:"
  258, "URL:"
  259, "Accept"
  260, "Show"
  261, "Import file"
  262, "Export file"
  263, "Choose icon"
  264, "OEM"
  265, "INI file *.ini|*.ini|REG file *.reg|*.reg"
  266, "INI file *.ini|*.ini"
  267, ""
  268, "The icon is not square (%dx%d)! "
  269, "Windows will scale it to fit."
  270, "Do you really want to save the entries?"
  271, "Do you really want to delete the entries?"
  272, "Do you want to save the entries to be deleted in a file?"
  273, "Do you really want to delete the icon \"%s\"?"
  274, "The entries have been deleted successfully!"
  275, "The entries have been saved successfully!"
  276, "Error while deleting the entries!"
  277, "Error while deleting the icon!"
  278, "Error while reading the entries!"
  279, "Error while writing into file \"%s\"!"
  280, "Error while copying file!"
  281, "Error while saving the entries!"
  282, "Error while importing!"
  283, "Nothing was entered!"
  284, "SIT is not compatible to your Windows Version (%s). "
  285, "At least you need Windows 2000!"
  286, "Icon does not exist or invalid path!"
  287, "Successfully copied icon to \"%s\"!"
  288, "Invalid file extension!"
  289, "Open URL in web browser?"
  290, "Invalid URL!"
END

STRINGTABLE // français
BEGIN
  300, "1036"
  301, "Avertissement"
  302, "Erreur"
  303, "Question"
  304, "Information"
  305, "MAJ"
  306, "abandonner"
  307, "Annulé!"
  308, "Prêt!"
  309, "S'il vous plaît sélectionnez le dossier de téléchargement"
  310, "Vue"
  311, "Voulez-vous installer la mise à jour maintenant?"
  312, "Impossible de se connecter au serveur de mise à jour!"
  313, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
  314, "Aider"
  315, "Chercher mise à jour"
  316, "Installer le certificat"
  317, "à propos de %s"
  318, " impossible!"
  319, ""
  320, ""
  321, "Mise à jour (Build %d) disponible!"
  322, "Voulez-vous le télécharger maintenant?"
  323, "Il n'ya pas de mise à jour disponible!"
  324, "Télécharger mise à jour"
  325, "Choisir langue"
  326, "Signaler une erreur"
  327, "Le certificat de PM Codeworks est déjà installé!"
  328, "Le programme de \"certutil.exe de\" n'a pas pu être trouvé."
  329, "Aller sur le site"
  330, "Télécharger a été annulé!"
  331, "Erreur fatale"
  332, "Détails techniques"
  333, "Fichier"
  334, "Récemment %s est offert en version 64 bits pour télécharger permettre à "
  335, "votre système de fonctionner de manière optimale. Voulez-vous télécharger ce?"
  336, "Fichier enregistrement *.reg|*.reg"
  337, "Mises à jour sécurisée"
  338, "Récemment, mises à jour sécurisées sont fournies via une connexion cryptée sur"
  339, " le serveur de mise à jour. A cet effet, un nouveau certificat est nécessaire."
  340, "Voulez-vous installer ce pour recevoir des mises à jour sécurisées?"
  341, ""
  342, "Importer"
  343, "Exporter les entrées"
  344, "Exporter les contributions"
  345, "Modifier"
  346, "Afficher les entrées"
  347, "Supprimer les entrées"
  348, "Supprimer les contributions"
  349, "Supprimer logo"
  350, "Copier logo"
  351, "L'image"
  352, "Informations"
  353, "Chemin du logo:"
  354, "Fabricant:"
  355, "Numéro de téléphone:"
  356, "Heure du jour:"
  357, "Modèle:"
  358, "Adresse Internet:"
  359, "Accepter"
  360, "Montrer"
  361, "Importer un fichier"
  362, "Exporter un fichier"
  363, "Sélectionner un logo"
  364, "OEM"
  365, "Fichier INI *.ini|*.ini|Fichier enregistrement *.reg|*.reg"
  366, "Fichier INI *.ini|*.ini"
  367, ""
  368, "L'icône n'est pas carré (%dx%d)! "
  369, "Windows échelle pour s'adapter."
  370, "Voulez-vous vraiment pour sauvegarder les entrées?"
  371, "Voulez-vous vraiment supprimer les entrées?"
  372, "Voulez-vous sauvegarder les entrées à supprimer dans un fichier?"
  373, "Voulez-vous vraiment supprimer l'icône \"%s\"?"
  374, "Les entrées ont été supprimées avec succès!"
  375, "Les entrées ont été sauvegardées avec succès!"
  376, "Erreur lors de la suppression des entrées!"
  377, "Erreur lors de la suppression de l'image!"
  378, "Erreur lors de la lecture des entrées!"
  379, "Erreur lors de l'écriture dans le fichier \"%s\"!"
  380, "Impossible de copier!"
  381, "Erreur lors de l'écriture des entrées!"
  382, "Erreur lors de l'importation!"
  383, "Rien n'a été entré!"
  384, "SIT n'est pas compatible votre version de Windows (%s). "
  385, "Vous avez besoin de Windows 2000 au moins!"
  386, "Logo n'existe pas ou le chemin n'est pas valide!"
  387, "Logo copié avec succès dans \"%s\"!"
  388, "Extension de fichier invalide!"
  389, "Ouvrir l'URL dans la navigateur?"
  390, "URL invalide!"
END
