STRINGTABLE
{
//Deutsch
100, "Information"
101, "Warnung"
102, "Fehler"
103, "Frage"
104, "Bestätigung"
105, "Update"
106, "abbrechen"
107, "Abgebrochen!"
108, "Fertig!"
109, "Bitte Ordner wählen"
110, "Wollen Sie den Download wirklich beenden?"
111, "Wollen Sie das Update jetzt installieren?"
112, "Keine Verbindung zum Update-Server!"
113, "Bitte prüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
114, "Hilfe"
115, "Nach Update suchen"
116, "Zertifikat herunterladen"
117, "Über ..."
118, " nicht möglich!"
119, "Grund: "
120, "Quelle nicht gefunden!"
121, "Update (Build %d) verfügbar!"
122, "Möchten Sie es jetzt herunterladen?"
123, "Kein Update verfügbar!"
124, "Update herunterladen"
125, "Sprache wählen"
126, "Fehler melden"
127, "Das Zertifikat von PM Code Works ist bereits installiert!"
128, "Wollen Sie es trotzdem herunterladen?"
129, "Zur Website"
130, "Download wurde abgebrochen!"
131, "Datei"
132, "Importieren"
133, "Einträge exportieren"
134, "Eingaben exportieren"
135, "Bearbeiten"
136, "Einträge anzeigen"
137, "Einträge löschen"
138, "Eingaben löschen"
139, "Logo löschen"
140, "Logo kopieren"
141, "Logo"
142, "Ansicht"
143, "Logo Pfad:"
144, "Hersteller:"
145, "Telefonnummer:"
146, "Uhrzeit:"
147, "Modell:"
148, "Internetadresse:"
149, "Übernehmen"
150, "Anzeigen"
151, "Datei importieren"
152, "Datei exportieren"
153, "Logo auswählen"
154, "oem"
155, "INI Datei *.ini|*.ini|REG Datei *.reg|*.reg"
156, "INI Datei *.ini|*.ini"
157, "Bitmap Datei *.bmp|*.bmp"
158, "Das Logo ist nicht quadratisch (%dx%d)! "
159, "Windows wird es passend skalieren."
160, "Wollen Sie die Einträge wirklich übernehmen?"
161, "Wollen Sie die Einträge wirklich entfernen?"
162, "Wollen Sie die zu löschenden Einträge in einer Datei speichern?"
163, "Soll das Logo wirklich gelöscht werden?"
164, "Einträge wurden erfolgreich gelöscht!"
165, "Einträge wurden erfolgreich gespeichert!"
166, "Fehler beim Löschen der Einträge!"
167, "Fehler beim Löschen des Bildes!"
168, "Fehler beim Lesen der Einträge!"
169, "Fehler beim Schreiben in die Datei \"%s\"!"
170, "Fehler beim Kopieren!"
171, "Fehler beim Speichern der Einträge!"
172, "Fehler beim Importieren!"
173, "Es wurde nichts eingegeben!"
174, "Fehler! SIT ist nicht kompatibel zu Ihrer Windows Version! Sie haben Windows "
175, ". Zum Ausführen von SIT wird mindestens Windows 2000 benötigt!"
176, "Logo existiert nicht oder der Pfad ist ungültig!"
177, "Logo erfolgreich nach \"%s\" kopiert!"
178, "Ungültige Dateiendung!"
179, "URL im Webbrowser öffnen?"
180, "Ungültige URL!"

//Englisch
200, "Information"
201, "Warning"
202, "Error"
203, "Question"
204, "Confirmation"
205, "Update"
206, "abort"
207, "Canceled!"
208, "Done!"
209, "Please select a folder"
210, "You really want to stop the download?"
211, "Do you want to install the update now?"
212, "Unable to connect to the update server!"
213, "Please check your internet connection and try again."
214, "Help"
215, "Search for Update"
216, "Download Certificate"
217, "About ..."
218, " impossible!"
219, "Reason: "
220, "Source not found!"
221, "Update (Build %d) available!"
222, "Do you want to download it now?"
223, "No update available!"
224, "Download the update"
225, "Choose Language"
226, "Report a bug"
227, "The certificate of PM Code Works is already installed!"
228, "Do you want to download it anyway?"
229, "Go to website"
230, "Download has been canceled!"
231, "File"
232, "Import"
233, "Export Entries"
234, "Export Input Data"
235, "Edit"
236, "Show Entries"
237, "Delete Entries"
238, "Delete Input"
239, "Delete Icon"
240, "Copy icon"
241, "Icon"
242, "View"
243, "Icon Path:"
244, "Manufacturer:"
245, "Phone:"
246, "Hours:"
247, "Model:"
248, "URL:"
249, "Accept"
250, "Show"
251, "Import File"
252, "Export File"
253, "Choose icon"
254, "oem"
255, "INI file *.ini|*.ini|REG file *.reg|*.reg"
256, "INI file *.ini|*.ini"
257, "Bitmap Picture *.bmp|*.bmp"
258, "The icon is not square (%dx%d)! "
259, "Windows will scale it to fit."
260, "Do you really want to write those entries?"
261, "Do you really want to delete those entries?"
262, "Do you want to save the entries to be deleted in a file?"
263, "Should the icon really be deleted?" 
264, "The entries have been deleted successfully!"
265, "The entries have been written successfully!"
266, "Error while deleting the entries!"
267, "Error while deleting the icon!"
268, "Error while reading the entries!"
269, "Error while writing into file \"%s\"!"
270, "Error while copying file!"
271, "Error while writing the entries!"
272, "Error while importing!"
273, "Nothing was entered!"
274, "Error! SIT is not compatible with your version of Windows! You got "
275, ". Windows 2000 or later is required to run SIT!"
276, "Icon does not exist or invalid path!"
277, "Successfully copied icon to \"%s\"!"
278, "Invalid file extension!"
279, "Open URL in web browser?"
280, "Invalid URL!"

//Französisch
300, "Information"
301, "Avertissement"
302, "Erreur"
303, "Question"
304, "Confirmation"
305, "MAJ"
306, "abandonner"
307, "Annulé!"
308, "Prêt!"
309, "S'il vous plaît sélectionner un dossier"
310, "Vous voulez vraiment arrêter le téléchargement?"
311, "Voulez-vous installer la mise à jour maintenant?"
312, "Impossible de se connecter au serveur de mise à jour!"
313, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
314, "Aider"
315, "Chercher mise à jour"
316, "Télécharger le Certificat"
317, "à propos de..."
318, " impossible!"
319, "Raison: "
320, "Source introuvable!"
321, "Mise à jour (Build %d) disponible!"
322, "Voulez-vous le télécharger maintenant?"
323, "Il n'ya pas de mise à jour disponible!"
324, "Télécharger mise à jour"
325, "Choisir langue"
326, "Signaler une erreur"
327, "Le certificat de PM Codeworks est déjà installé!"
328, "Voulez-vous télécharger de toute façon?"
329, "Aller sur le site"
330, "Télécharger a été annulé!"
331, "Fichier"
332, "Importer"
333, "Exporter les entrées"
334, "Exporter les contributions"
335, "Modifier"
336, "Afficher les entrées"
337, "Supprimer les entrées"
338, "Supprimer les contributions"
339, "Supprimer logo"
340, "Copier logo"
341, "L'image"
342, "Affichage"
343, "Chemin du logo:"
344, "Fabricant:"
345, "Numéro de téléphone:"
346, "Heure du jour:"
347, "Modèle:"
348, "Adresse Internet:"
349, "Accepter"
350, "Montrer"
351, "Importer un fichier"
352, "Exporter un fichier"
353, "Sélectionner un logo"
354, "oem"
355, "Fichier INI *.ini|*.ini|Fichier enregistrement *.reg|*.reg"
356, "Fichier INI *.ini|*.ini"
357, "Image bitmap *.bmp|*.bmp"
358, "L'icône n'est pas carré (%dx%d)! "
359, "Windows échelle pour s'adapter."
360, "Avez-vous vraiment envie d'écrire ces entrées?"
361, "Voulez-vous vraiment supprimer ces entrées?"
362, "Voulez-vous enregistrer les entrées à supprimer dans un fichier?"
363, "Si le logo vraiment être supprimé?"
364, "Les entrées ont été supprimées avec succès!"
365, "Les entrées ont été écrites avec succès!"
366, "Erreur lors de la suppression des entrées!"
367, "Erreur lors de la suppression de l'image!"
368, "Erreur lors de la lecture des entrées!"
369, "Erreur lors de l'écriture dans le fichier \"%s\"!"
370, "Impossible de copier!"
371, "Erreur lors de l'écriture des entrées!"
372, "Erreur lors de l'importation!"
373, "Rien n'a été entré!"
374, "Erreur! SIT n'est pas compatible avec votre version de Windows! Vous avez "
375, ". Windows 2000 ou ultérieur est requis pour exécuter SIT!"
376, "Logo n'existe pas ou le chemin n'est pas valide!"
377, "Logo copié avec succès dans \"%s\"!"
378, "Extension de fichier invalide!"
379, "Ouvrir l'URL dans la navigateur?"
380, "URL invalide!"
}
